@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Courier_prime';
    src: url('../fonts/CourierPrime-Regular.ttf');
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

:root {
    --primary-color: #279a2e;
    --secondary-color: #066626;
    --base-color: #EFEFEF;
    --background-color: #95e49a;
    --text-color: #1E1E1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto";
}

body {
    background-color: var(--background-primary);
    color: var(--text-color);
}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;  
    top: 0;
}

.logo-title {
    font-size: 1.5em;
    font-family: 'courier_prime';
    color: var(--base-color);
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-weight: bold;
}

.item-menu {
    text-decoration: none;
    color: var(--base-color);
    font-size: 1.2rem;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
}

.item-menu:hover {
    transition: 0.3s;
    transform: scale(1.2);
    transition-duration: 0.6s;
}

#intro {
    margin-top: 50px;
    background-image: url("../imgs/a-background\ 1.png");
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.content {
    flex-direction: column;
    justify-content:center;
    text-align: center;
    margin-top: -100px;
}

#intro h1 {
    font-size: 70px;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
    font-family: 'courier_prime';
}

#intro h3 {
    font-size: 30px;
    border-radius: 10px;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
}

#intro h5 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}

#about {
    width: 80%;
    margin: auto;
}

.section-title {
    color: var(--secondary-color);
    font-weight: bold;
    font-family: 'courier_prime';
    font-size: 3rem;
    margin: 40px 0;
}

.container-info {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    line-height: 25px;
}

.about-info {
    background-color: var(--background-color);
    box-shadow: 5px 7px 8px 1px rgba(0,0,0,0.37);
    -webkit-box-shadow: 5px 7px 8px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 5px 7px 8px 1px rgba(0,0,0,0.37);

    padding: 10px;
    position: absolute;
    right: 30%;
    justify-self: flex-start;
    width: 60%;
}

.about-info h3 {
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
    color: var(--secondary-color);
}

.about-history {
    position: relative;
    top: 50%;
    padding: 10px;
}

.img-about {
    width: 60%; 
    height: 400px;
}

#solucoes {
    width: 80%;
    margin: auto;
}

#container-service {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: var(--background-color);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

.card h2 {
    text-align: center;
    font-size: 1.3rem;
    color: var(--secondary-color);
    height: 10%;
}

.card p {
    margin-top: 30px;
    height: 80%;
}

.card a {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 5px;
    width: 40%;
    color: var(--base-color);
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
}

.card a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#contact {
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.tiltle-width {
    flex-basis: 100%;
}

.inform-contact {
    width: 50%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inform-contact p {
    font-size: 1.2rem;
}

.inform-contact h4 {
    font-size: 20px;
}

.contact-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-container div {
    justify-self: center;
}

.contact-container .fa-solid {
    color: var(--background-color);
    font-size: 40px;
}

.maps {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.maps p {
    padding: 20px 0;
    color: var(--text-color);
    text-align: center;
    font-size: 18px;
}

.maps iframe {
    width: 80%;
    height: 300px;
    margin: auto;
}

/*FORM*/

.form-container h3 {
    font-family: 'courier_prime';
    font-size: 30px;
}

.form-container {
    width: 50%;
    align-items: flex-start;
}

.form-container h3 {
    color: var(--secondary-color);
    width: 90%;
    margin: auto;
    padding: 0 0 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.input-item {
    background-color: var(--background-color);
    border-radius: 5px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    padding: 15px;
    color: var(--text-color);
    border: none;
    outline: 0;
}

.input-item:hover{
    border: 2px solid var(--primary-color);
}

.input-item::placeholder {
    color: var(--text-color);
    font-weight: bold;
}

.form textarea {
    background-color: var(--background-color);
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    color: var(--text-color);
    height: 250px;
}

.input-item:required:valid {
    border: 2px solid var(--base-color);
}

.input-item:not(:placeholder-shown):invalid {
    border: 2px solid #ed1e13;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--base-color);
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/*FOOTER*/

footer{
    border-bottom: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
    padding: 60px 0;
    margin: 30px auto;
    width: 80%;
}

footer h1{
    color: var(--secondary-color);
    font-family: 'courier_prime';
    align-self: center;
    font-size: 50px;
    letter-spacing: 1px;
}

.footer_logo{
    text-align: center;
}

.footer_logo img{
    margin-bottom: 30px;
}

.nossas_redes{
    display: flex;
    flex-wrap: wrap;
    color: var(--secondary-color);
    justify-content: center;
    text-align: center;
}

.nossas_redes p{
    flex-basis: 100%;
    justify-content: center;
    padding: 40px 0 20px 0;
}

footer .fa-brands{
    color: var(--secondary-color);
    padding: 0 10px;
    font-size: 35px;
}

.nossas_redes i:hover{
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
}
.copyright{
    color: var(--text-color);
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
}
.voltar_topo{
    width: 200px;
    margin: auto;
    padding-top: 40px ;
    font-size: 15px;
}

.voltar_topo a{
    text-decoration: none;
    color: var(--text-color);
}

.fa-circle-arrow-up{
    color: var(--secondary-color);
    font-size: 20px;
}

.back-top {
    display: flex;
    justify-content: center;
    gap: 5px;
    transition: 0.3s;
}

.back-top:hover {
    transform: scale(1.2);
}
